.text-fade {
  position: relative;
  overflow: hidden;
  max-width: 400px; /* Adjust as needed */
  line-height: 1.2em;
  max-height: 6em; /* max-height is font-size (1.2em) * number of lines (2 lines in this case) */
}

.text-fade:after {
  content: "";
  text-align: justify;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
  height: 3em;
  /* background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 50%); */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 60%
  );
}
